<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Job - Admin Page</title>
    <link rel="stylesheet" href="/styles/admin-home.css">
</head>
<body>
<div class="container">
    <h1>Admin Management Page</h1>
    <table>
        <thead>
        <tr>
            <th>ID List</th>
            <th>Page Name</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Skill Management</td>
            <td><a href="/admin-fe/skill">Skill management page</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Candidate Management</td>
            <td><a href="/admin-fe/candidate/0">Candidate management page</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Company Management</td>
            <td><a href="/admin-fe/company">Company management page</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    &copy; 2024 Admin Dashboard - All Rights Reserved.
</div>
</body>
</html>
