<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Job - Admin Page</title>
    <link rel="stylesheet" href="/styles/admin-home.css">
</head>
<body>
<div class="container">
    <h1>Trang quản lí</h1>
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Tên</th>
            <th>Link</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>1</td>
            <td>Quản lý kỹ năng</td>
            <td><a href="/admin-fe/skill">Trang quản lý kỹ năng</a></td>
        </tr>
        <tr>
            <td>2</td>
            <td>Danh sách các ứng viên</td>
            <td><a href="/admin-fe/candidate/0">Trang danh sách ứng viên</a></td>
        </tr>
        <tr>
            <td>3</td>
            <td>Danh sách công ty</td>
            <td><a href="/admin-fe/company">Trang danh sách công ty</a></td>
        </tr>
        <tr>
            <td>4</td>
            <td>Công việc</td>
            <td><a href="/admin-fe/job-skill/addJobSkill">Trang công việc</a></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="footer">
    &copy; 2024 Admin Dashboard - All Rights Reserved.
</div>
</body>
</html>
