<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Search Job - Login Account</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="/styles/index.css">
</head>
<body>
<div class="content-wrapper">
    <header>
        <div class="header-container">
            <a href="#" class="logo-link">
                <img src="/styles/images/logo.jpg" alt="Logo" class="logo">
            </a>
            <nav class="nav-bar">
                <a href="/user-fe/search-job/job">Search Job</a>
                <span th:switch="${role}">
                <a th:case="ADMIN" href="/home-fe/admin">Admin Area</a>
            </span>
            <span th:if="${account_login != null}">
                <a th:href="@{'/candidate/detail/profile/' + ${candidate.id}}"
                   th:text="${candidate.getFullName()}" class="user-profile"></a>
            </span>
                <span th:switch="${account_login}" class="auth-links">
                <a th:case="null" href="/home-fe/login">Login</a>
                <a th:case="*" href="/home-fe/logout">Logout</a>
            </span>
            </nav>
        </div>

    </header>

    <main>
        <!-- Search Bar -->
        <div class="search-bar-container">
            <input type="text" class="search-input" placeholder="Search for jobs...">
            <button class="search-button"><i class="fas fa-search"></i> Search</button>
        </div>

        <!-- User Information and CV Creation Section -->
        <div class="info-cv-container">
            <!-- User Information -->
            <div class="user-info" th:if="${account_login != null}">
                <h2>Thông tin cá nhân</h2>
                <p><strong>Name:</strong> <span th:text="${candidate.getFullName()}"></span></p>
                <p><strong>Email:</strong> <span th:text="${candidate.email}"></span></p>
                <p><strong>Phone:</strong> <span th:text="${candidate.phone}"></span></p>
                <p><strong>Ngày sinh:</strong> <span th:text="${candidate.dob}"></span></p>

                <!-- Thêm nút Cập nhật thông tin -->
                <a href="" class="btn-update-info">Cập nhật thông tin</a>
            </div>


            <!-- CV Creation -->
            <div class="cv-creation">
                <div class="card shadow-sm">
                    <div class="card-body text-center">
                        <img src="https://png.pngtree.com/png-clipart/20230810/original/pngtree-vacancy-rgb-color-icon-cv-concept-recruit-vector-picture-image_10262216.png"
                             alt="CV Creation Icon" class="mb-3" width="60">
                        <h5 class="card-title">Tạo CV thật đẹp cùng TopCV nhé</h5>
                        <p class="card-text">Tạo CV Online miễn phí với TopCV</p>
                        <a href="https://www.topcv.vn/mau-cv?tracking=1&source=gg&campaign_name=TOPCV_SEO_ADS&gad_source=1&gclid=EAIaIQobChMIxcX3_fijigMVS6NmAh2ehjzrEAAYAyAAEgJD__D_BwE"
                           class="btn btn-outline-primary">Tạo CV</a>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>

<footer>
    <div class="footer-container">
        <div class="footer-name">
            <p>Trương Quốc Bảo</p>
        </div>
        <div class="footer-links">
            <a href="#">Privacy Policy</a>
            <a href="#">Terms of Service</a>
            <a href="#">Contact Us</a>
        </div>
        <p>&copy; 2024 Home - All Rights Reserved.</p>
    </div>
</footer>

<script src="/scripts/main.js"></script>
</body>
</html>
