<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Profile</title>
    <link rel="stylesheet" href="/styles/profile-update.css">
</head>
<body>
<div class="content-wrapper">
    <h2>Cập nhật thông tin cá nhân</h2>
    <form th:action="@{'/candidate/detail/profile-update/' + ${candidate.id}}" method="POST">
        <div>
            <label>Họ và tên:</label>
            <input type="text" name="inputFullName" th:value="${candidate.fullName}" required/>
        </div>
        <div>
            <label>Ngày sinh:</label>
            <input type="date" name="inputDob" th:value="${candidate.dob}" required/>
        </div>
        <div>
            <label>Email:</label>
            <input type="email" name="inputEmail" th:value="${candidate.email}" required/>
        </div>
        <div>
            <label>Số điện thoại:</label>
            <input type="text" name="inputPhone" th:value="${candidate.phone}" required/>
        </div>
        <div>
            <label>Địa chỉ (Số nhà, Đường):</label>
            <input type="text" name="inputStreet" th:value="${candidate.address.street}" required/>
        </div>
        <div>
            <label>Thành phố:</label>
            <input type="text" name="inputCity" th:value="${candidate.address.city}" required/>
        </div>
        <div>
            <label>Quốc gia:</label>
            <input type="text" name="inputCountry" th:value="${candidate.address.country}" required/>
        </div>
        <div>
            <label>Số nhà:</label>
            <input type="text" name="inputNumber" th:value="${candidate.address.number}" required/>
        </div>
        <div>
            <label>Mã bưu điện:</label>
            <input type="text" name="inputZipcode" th:value="${candidate.address.zipcode}" required/>
        </div>
        <div>
            <button type="submit">Cập nhật</button>
        </div>
    </form>
</div>
</body>
</html>
