<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" href="/styles/signup.css">
</head>
<body>
<div>

    <h1 class="header">Đăng kí</h1>
    <div>
        <p th:text="${status == null ? '' : status}"></p>
    </div>
    <form action="/auth-fe/signup" method="post" id="formSignUp">
        <div class="fullname">
            <label class="labelFullName">Full Name:</label>
            <input name="inputFullName" required/>
        </div>
        <div>
            <label class="labelEmail">Email:</label>
            <input  name="inputEmail" type="email" required/>
        </div>
        <div>
            <label class="labelPassword">Password:</label>
            <input name="inputPassword" type="password" required/>
        </div>
        <div>
            <label class="labelPhone">Phone:</label>
            <input name="inputPhone" type="number" required/>
        </div>
        <div>
            <label class="labelDob">Date of birth:</label>
            <input name="inputDob" type="date" required/>
        </div>
        <div>
            <label class="labelCountry">Country:</label>
            <input name="inputCountry" type="number" required/>
        </div>
        <div>
            <label class="labelCity">City:</label>
            <input name="inputCity" required/>
        </div>
        <div>
            <label class="labelStreet">Street:</label>
            <input name="inputStreet" required/>
        </div>
        <div>
            <label class="labelNumber">Number:</label>
            <input name="inputNumber" required/>
        </div>
        <div>
            <label class="labelZipcode">Zipcode:</label>
            <input name="inputZipcode" required/>
        </div>
        <div class="login">
            <a class="text-login" href="/login">Đăng nhập</a>
        </div>
        <button type="submit" id="signupBtn">Đăng kí</button>

    </form>
</div>
</body>
</html>