<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Detail</title>
</head>
<body>
<div>
    <h2>Job Skills</h2>
    <ul>
        <li th:each="jobSkill : ${jobSkills}">
            <p><strong>Job Name:</strong> <span th:text="${jobSkill.id.job.jobName}"></span></p>
            <p><strong>Job Description:</strong> <span th:text="${jobSkill.id.job.jobDesc}"></span></p>
            <p><strong>Company:</strong> <span th:text="${jobSkill.id.job.company.getCompName()}"></span></p>
            <p><strong>Description:</strong> <span th:text="${jobSkill.moreInfos}"></span></p>
            <p><strong>Skill Level:</strong> <span th:text="${jobSkill.skillLevel}"></span></p>
        </li>
    </ul>
</div>

<div class="footer">
    &copy; 2024 Search Dashboard - All Rights Reserved.
</div>
</body>
</html>
