
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #E7F5DC;
    color: #213A58;
}
.header {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
#formSignUp {
    width: 450px;
    height: 650px;
    margin: 30px auto;
    border: 2px solid #ccc;
    border-radius: 20px;
    text-align: center;
    background-color: whitesmoke;
}

.fullname {
    margin-top: 20px;
}

.labelFullName {
    font-size: 20px;
    font-weight: bold;
    margin-right: 12px;
}

.labelEmail {
    font-size: 20px;
    font-weight: bold;
    margin-right: 56px;
}

.labelPassword {
    font-size: 20px;
    font-weight: bold;
    margin-right: 14px;
}

.labelPhone {
    font-size: 20px;
    font-weight: bold;
    margin-right: 48px;
}

.labelDob {
    font-size: 20px;
    font-weight: bold;
}

.labelCountry {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.labelCity {
    font-size: 20px;
    font-weight: bold;
    margin-right: 70px;
}

.labelStreet {
    font-size: 20px;
    font-weight: bold;
    margin-right: 52px;
}

.labelNumber {
    font-size: 20px;
    font-weight: bold;
    margin-right: 34px;
}

.labelZipcode {
    font-size: 20px;
    font-weight: bold;
    margin-right: 30px;
}

.login {
    margin-top: 5px;
    margin-left: -290px;
}

.text-login {
    font-weight: bold;
    font-size: 18px;
    color: black;
    text-decoration: none;
}

input {
    width: 200px;
    height: 40px;
    margin-bottom: 10px;
    border-radius: 20px;
    border: 1px solid gray;
    padding-left: 20px;
    font-size: 15px;
}

#signupBtn {
    margin-top: 5px;
    width: 180px;
    height: 40px;
    border: none;
    border-radius: 20px;
    font-size: 20px;
    background-color: #213A58;
    color: #cccccc;
    cursor: pointer;
}

